<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-item>
    <ion-label>Identificador</ion-label>
    <ion-input type="number" [(ngModel)]="parteData.identificador" placeholder="Introduzca Identificador"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha</ion-label>
    <ion-input type="date" [(ngModel)]="parteData.fecha" placeholder="Introduzca Fecha"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Hora</ion-label>
    <ion-input type="time" [(ngModel)]="parteData.hora" placeholder="Introduzca Hora"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Descripción</ion-label>
    <ion-input [(ngModel)]="parteData.descripcion" placeholder="Introduzca Descripción"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Incidencia resuleta</ion-label>
    <ion-toggle [(ngModel)]="parteData.resuelta" slot="start" name="resuelta" color="success" checked></ion-toggle>
    <!--<ion-input type="boolean" [(ngModel)]="parteData.resuelta" placeholder="Introduzca Incidencia resuleta"></ion-input>-->
  </ion-item>
  <ion-item>
    <ion-label>Tiempo dedicado (h)</ion-label>
    <ion-input type="number" [(ngModel)]="parteData.tiempo" placeholder="Introduzca Tiempo dedicado en horas"></ion-input>
  </ion-item>

  <ion-button (click)="nuevoParte()" color="success" expand="block">Crear parte</ion-button>
  <!--<ion-button [routerLink]="['/usuario-list']" color="warning" expand="block">Cancelar</ion-button>
  -->

  <app-explore-container name="Inicio"></app-explore-container>
</ion-content>
