<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gestion de clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let item of clienteData">
      <ion-label>
        <h2>{{item.nombre}}</h2>
        <p>{{item.email}}</p>
        <p>{{item.telefono}}</p>
      </ion-label>
      <ion-button (click)="detalle(item)" color="tertiary" size="small"><ion-icon name="list"></ion-icon></ion-button>
      <ion-button (click)="editar(item)" color="warning" size="small"><ion-icon name="create"></ion-icon></ion-button>
    </ion-item>
  </ion-list>

</ion-content>
