<ion-header>
  <ion-toolbar>
    <ion-title>Contacto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca de</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Acerca de"></app-explore-container>
  <ion-card>
    <img src="../../assets/img/gato2.jpg" alt="Imagen de gato panzon"/>
    
    <ion-card-header>
      <ion-card-title>
        Lucía Oliva Arocas
      </ion-card-title>
      <ion-card-subtitle>
        48670261F
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      
      loa7@alu.ua.es
    </ion-card-content>
  </ion-card>
</ion-content>
